<h2>My Heroes</h2>
<ul class="heroes">
  <li
    *ngFor="let item of heroes"
    (click)="handleSelect(item)"
    [class.selected]="selectedHero === item"
  >
    <span class="badge">{{ item.id }}</span>
    {{ item.name }}
  </li>
</ul>

<div *ngIf="selectedHero">
  <hr>
  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ selectedHero.id }}</div>
  <div>
    <label for="name">name: </label>
    <input id="name" [(ngModel)]="selectedHero.name" placeholder="name">
  </div>
</div>
